.container-input {
  margin: 0 auto;
  padding: 10px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.inputfile {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: inline-block;
  cursor: pointer;
}