@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");

.learning-input {
  pointer-events: none;
  height: 55px;
  text-align: center;
  color: #788292;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  width: 100%;
}

.logo-link {
  display: flex;
  text-decoration: none;
}

.learning-form {
  display: flex;
  width: 622px;
}

.learning-content:focus-within {
  background: #ffffff;
  /* Facebook blue */
  border: 1.5px solid #1877f2;
  border-radius: 8px;
}
.learning-content:focus-within .arrow {
  stroke: #1877f2;
}

.learning-content:hover {
  background: #ffffff;
  transition: 0.5s all;
  border: 1.5px solid #1877f2;
  border-radius: 8px;
}

.learning-content:hover .arrow {
  stroke: #1877f2;
  transition: 0.5s all;
}

.learning-content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 55px;
  max-width: 622px;
  min-width: 622px;
  width: 622px;
  border: 1.5px solid #f1f2f6;
  border-radius: 8px;
  background-color: white;
  display: flex;
}
.learning-button {
  border: none;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.learning-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.learning-button:active {
  background-color: transparent;
}

.learning-content img {
  height: 17.91px;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(32, 55, 88, .75);
	display: flex;
	align-items: center;
  /* top: 188px; */
  z-index: 99;
  display: none;
 
}
.modal .wrapper-modal{
  margin: 0 auto;
}
.modal_window {
  position: relative;
	display: flex;
  flex-direction: column;
  background-color: white;
  padding: 32px;
	border-radius: 8px;
	height: fit-content;
	width: 500px;
}

.modal_close {
  position: absolute;
  cursor: pointer;
  color: white;
  top: -56px;
  right: 0;
  padding: 2px 12px;
  border-radius: 8px;
  font-size: 2.2em;
}
.modal_close:hover {
  background: rgb(255, 255, 255, .12);
  color: white;
}
.modal_window textarea{
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  border: 1.5px solid #F1F2F6;
  border-radius: 8px;
  outline: none;
  resize: none;
  padding: 14px 15px;
  margin: 10px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #788292;
  background-color: transparent;
  overflow-y: hidden;
}
.modal_window .msg-error-blank{
  /* display: none; */
  color: red;
  font-size: 9px;
  font-weight: 500;
  margin-bottom: 10px;
}
.modal_window .buttons-post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.modal_window .buttons-post .icons-bottom{
  display: flex;
  gap: 4px;
}
.modal_window .buttons-post .icons-bottom .icon-item-bottom{
  padding: 10px;
  height: 16px;
  width: 16px;
}
.modal_window .buttons-post .button-bottom{
  height: 100%;
  outline: none;
  border: none;
  padding: 0 38px;
  border-radius: 6px;
  background-color: #F0F7FF;
  color: #1877f2;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 11px;
  cursor: pointer;
}
.modal_window .buttons-post .button-bottom:hover{
  background-color: #1877f2;
  color: white;
}

