@import url("./css/profile-card.css");
@import url("./css/cards.css");
@import url("./css/team.css");
@import url("./css/followme.css");
@import url("./css/footer.css");
@import url("./css/notice-sections.css");
@import url("./css/reset.css");
@import url("./css/header.css");
@import url("./css/styles-new-learning.css");
@import url("./css/input-file.css");
@import url("./css/thumbnails.css");
@import url("./css/stories.css");
@import url("./css/main-scroll.css");
@import url("./css/modaldelete.css");


::after,
::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --solitude: #f1f2f6;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--solitude);
  font-family: "Montserrat";
}

.main {
  max-width: 1317px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.main > div {
  border-radius: 4px;
}

.sidebar-right {
  max-width: 363px;
}

.sidebar-left {
  max-width: 274px;
  position: sticky;
  height: fit-content;
  top: 90px;
}

.sidebar-left,
.sidebar-right {
  position: sticky;
  height: fit-content;
  top: 90px;
}

.daily-content {
  max-width: 622px;
  margin-left: 29px;
  margin-right: 29px;
  margin-bottom: 2em;
}
